<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airport (Draft)</title>
</head>
<body>
    <h1>Welcome to the main page!</h1>
    <h3>Weather</h3>
    <p>Weather in Kyiv: {{ weather.description }}, {{ weather.temperature }}C</p>
    <h3>Departures</h3>
    <table>
        {% for flight in departure_flights %}
        <tr>
            <td style="border: 1px solid black;">{{ flight.time }}</td>
            <td style="border: 1px solid black;">{{ flight.number }}</td>
            <td style="border: 1px solid black;">{{ flight.city }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Arrivals</h3>
    <table>
        {% for flight in arrival_flights %}
        <tr>
            <td style="border: 1px solid black;">{{ flight.time }}</td>
            <td style="border: 1px solid black;">{{ flight.number }}</td>
            <td style="border: 1px solid black;">{{ flight.city }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>